{% extends 'base.html.twig' %}

{% block title %}{{title}} | Spells and Glitters{% endblock %}

{# TODO: make link to creation details #}

{# if slug is empty, it's all creations, when it's not empty, it's creations found by category and if new == true, then it's the news page #}
{% if slug %}
    {% set path = 'app_creations_category' %}
    {% set slug = slug %}
{% elseif new is defined and new == true %}
    {% set path = 'app_creations_new' %}
{% else %}
    {% set path = 'app_creations_all' %}
{% endif %}
{% block body %}
    <section class="container text-center">
        <h1 class="my-5">{{title}}</h1>
        {% if creations.data is defined %}
            {# if there is data, the order is set to display the right active one in the sort by dropdown #}
            {% set order = creations.order %}
        <div class="container col-md-9">
            <hr>
            <nav class="navbar">
                <span>{{creations.totalCreations}} créations</span>
                {# sorting button, gives order (asc/desc) and orderType (alpha/date) #}
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" >Trier par</a>
                        <div class="dropdown-menu dropdown-menu-end position-absolute">
                                <a class="dropdown-item {% if order == "date_desc" %} disabled bg-primary text-secondary {% endif %}" href="{{ slug ? path(path, {slug: slug, orderType: 'date', order: 'desc'}) : path(path, {orderType: 'date', order: 'desc'}) }}">Date: récent</a>
                                <a class="dropdown-item {% if order == "date_asc" %} disabled bg-primary text-secondary {% endif %}" href="{{ slug ? path(path, {slug: slug, orderType: 'date', order: 'asc'}) : path(path, {orderType: 'date', order: 'asc'}) }}">Date: ancien</a>
                                <a class="dropdown-item {% if order == "alpha_asc" %} disabled bg-primary text-secondary {% endif %}" href="{{ slug ? path(path, {slug: slug, orderType: 'alpha', order: 'asc'}) : path(path, {orderType: 'alpha', order: 'asc'}) }}">Alpha: Croissant</a>
                                <a class="dropdown-item {% if order == "alpha_desc" %} disabled bg-primary text-secondary {% endif %}" href="{{ slug ? path(path, {slug: slug, orderType: 'alpha', order: 'desc'}) : path(path, {orderType: 'alpha', order: 'desc'}) }}">Alpha: Décroissant</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <hr class="mb-5">
            <div class="row">
                {% for creation in creations.data %}
                    <div class="col-lg-4 col-md-6 col-6 fadein mb-5 text-start">
                        <img class="picture-creations mx-auto d-block" src="{{ asset(dl_dir ~ creation.picture) }}" alt="{{creation.title}}">
                        <div class="position-relative">
                            <div class="title-creation font-sawarabi pr-5">{{ creation.title }}</div>
                            <span class="position-absolute top-0 end-0">
                                {# Verify if user is identified #}
                                {% if app.user and is_granted("ROLE_USER") %}
                                    {% set isFavorite = false %}
                                    {% for favorite in creation.favorites %}
                                        {% if favorite.id == app.user.id %}
                                        {# if a creation's favorite's id == user's id, set isFavorite == true #}
                                            {% set isFavorite = true %}
                                        {% endif %}
                                    {% endfor %}
                                    {# displays heart icon accordingly if isFavorite is true or false #}
                                    {% if isFavorite %}
                                        <a href="{{ path('app_creations_remove_favorite', {id: creation.id}) }}"><i class="fa-solid fa-heart fa-lg mr-md-3" style="color: #ffa494"></i></a>
                                    {% else %}
                                        <a href="{{ path('app_creations_add_favorite', {id: creation.id}) }}"><i class="fa-regular fa-heart fa-lg mr-md-3" style="color: #ffa494"></i></a>
                                    {% endif %}
                                {# diplays en empty heart if user isn't identified #}
                                {% else %}
                                    <a href="{{ path('app_login') }}"><i class="fa-regular fa-heart fa-lg mr-md-3" style="color: #ffa494"></i></a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                {% endfor %}

            </div>
            {# values needed for pagination links #}
            {% set pages = creations.pages %}
            {% set currentPage = creations.page %}
            {% include "_partials/_pagination.html.twig" %}
        </div>
            {% else %}
                <h2>Désolée ! Aucune créations trouvées.</h2>
            {% endif %}
    </section>
{% endblock %}
