{% extends 'base.html.twig' %}

{% block title %}Contact | Spells and Glitters{% endblock %}
{% block meta_description %}Formulaire pour contacter la propriétaire de Spells and Glitters{% endblock %}

{% block body %}
	<div class="container-fluid col-10 col-md-4 my-3">
		<h1 class="h3 mb-3 font-weight-normal text-center">Contact</h1>

		<div>
		{{ form_errors(form) }}
				{{ form_start(form) }}
						{{ form_row(form.email) }}
						{{ form_row(form.object) }}
						{{ form_row(form.message) }}

						<button type="submit" class="btn btn-primary text-secondary d-block mx-auto">Envoyer</button>
				{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
