{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}
	{{ form_start(form) }}
	{{ form_row(form.email) }}
	{{ form_row(form.object) }}
	{{ form_row(form.message) }}
	<button type="submit" class="btn btn-primary text-secondary d-block mx-auto">Envoyer</button>
	{{ form_end(form) }}
{% endblock %}
