{% extends 'base.html.twig' %}

{% block title %}Favoris | Spells and Glitters{% endblock %}

{% block body %}
<div class="container mt-10">
    <div class="row">
        {% include "_partials/_dashboard.html.twig" %}
        <div class="row col-md-7 col-12 mx-auto">
            <h1 class="h4">Mes favoris</h1>
            {% for favorite in favorites %}
                <div class="col-lg-4 col-md-6 col-6 fadein mb-5 text-start">
                    {# delete button displayed on image when the screen is over lg #}
                    <div class="position-relative" id="favorite-delete-button">
                        <a href="{{ path('app_creations_details', {slug: favorite.slug}) }}"><img class="picture-profil mx-auto d-block" src="{{ asset(dl_dir ~ favorite.picture) }}" alt="{{favorite.title}}"></a>
                        <div class="delete-button">
                            <a class="btn btn-secondary btn-lg" href="{{ path('app_creations_remove_favorite', {id: favorite.id}) }}">Supprimer</a>
                        </div>
                    </div>
                    <div class="position-relative">
                        <a class="link-secondary link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ path('app_creations_details', {slug: favorite.slug}) }}"><div class="title-creation font-sawarabi pr-5 pr-lg-0">{{ favorite.title }}</div></a>
                        {# delete icon added when screen is under lg #}
                        <span class="position-absolute top-0 end-0 d-lg-none ">
                            <a href="{{ path('app_creations_remove_favorite', {id: favorite.id}) }}"><i class="fa-solid fa-heart-crack fa-lg mr-md-3" style="color: #333333"></i></a>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
