{% extends 'base.html.twig' %}

{% block title %}Informations personnelles | Spells and Glitters{% endblock %}

{% block body %}
<div class="container mt-10">
    <div class="row">
        {% include "_partials/_dashboard.html.twig" %}
        <div class="col-md-7 col-10 mx-auto">
            <h1 class="h4">Informations personnelles</h1>
            <div class="row">
                <div class="col-12 col-md">
                    <label for="">Nom</label>
                    <input type="text" class="form-control" value="{{ user.lastName }}" disabled>
                </div>
                <div class="col-12 col-md">
                    <label for="">Prénom</label>
                    <input type="text" class="form-control" value="{{ user.name }}" disabled>
                </div>
                <div class="col-12">
                    <label for="">Email</label>
                    <input type="text" class="form-control" value="{{ user.email }}" disabled>
                </div>
                <div class="col-12 my-2">
                    <div class="row justify-content-around">
                        <a class="btn btn-primary col-5 mt-3 text-secondary" href="{{ path('app_profil_editInfos', {id: user.id}) }}">Changer mes informations</a>
                        <a class="btn btn-secondary col-5 mt-3" href="{{ path('app_profil_editPass', {id: user.id}) }}">Changer mon mot de passe</a>
                    </div>
                </div>
                <hr class="my-4 col">
                <a class="link-danger fw-medium mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal" href="">Suppression du compte</a>
            </div>
        </div>
    </div>
</div>

{# Modal #}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title fs-5 h2" id="exampleModalLabel">Suppression de compte</div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Vous êtes sur le point de supprimer votre compte, l'effet est immédiat. Continuer ?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <a type="button" class="btn btn-danger texte-light" href="{{ path('app_profil_delete', {id: user.id}) }}">Supprimer</a>
        </div>
        </div>
    </div>
</div>


{% endblock %}
